.App {
  margin: 0px;
  height: 100%;
  background: #ffffff;
  padding: 10px;
}

.body-container {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 1fr;
}

.content {
  height: 100%;
  background-color: #e8f4f8;
}

.nav-container {
  padding: 20px;
}

.nav-link {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.nav-link:not(:last-child) {
  margin-bottom: 10px;
}

.nav-link:hover,
.nav-link-active {
  color: #555555;
  font-weight: bold;
}

.nav-link,
.nav-link:visited {
  color: #808080;
  text-decoration: none;
}
